{% extends 'base.html' %}
{% block content %}
    <div class="heading2">New topic</div>
    <div class="buttons-panel">
        <form action="/forum/user_profile/{{ user.id }}/" class="btn-group">
            <button type="submit">Profile</button>
        </form>
    </div>
    <form method="post" action="/forum/add_topic/{{ topic.id }}/" class="btn-group">
        {% csrf_token %}
        {{ form.name }}
        <div class="buttons-panel2">
            <button type="submit">Add</button>
        </div>
    </form>
{% endblock %}