{% extends 'base.html' %}
{% block content %}
    <div class="heading2">Delete</div>
    <div class="buttons-panel">
    <form action="/forum/user_profile/{{user.id}}/" class="btn-group">
        <button type="submit">Profile</button>
    </form>
    </div>
    <div class="panel">
        <div class="topic">{{topic.name}}</div>
    </div>
    <div class="buttons-panel2">
    <form method="post" action="/forum/delete_topic/{{topic.id}}/" class="btn-group">
        {% csrf_token %}
            <button type="submit">Yes</button>
    </form>
    <form method="post" action="/forum/" class="btn-group">
        {% csrf_token %}
            <button type="submit">No</button>
    </form>
        </div>
{% endblock %}