{% extends 'base.html' %}
{% block content %}
    <div class="heading2">Edit topic</div>
    <div class="buttons-panel">
    <form action="/forum/user_profile/{{user.id}}/" class="btn-group">
        <button type="submit">Profile</button>
    </form>
    </div>
  <form method="post">
    {% csrf_token %}
    {{ form.name }}
  </form>
      <div class="buttons-panel2">
          <button type="submit" value="{{topic.id}}" class="btn-group">Save</button>
          <form action="/forum/delete_topic/{{topic.id}}/" method="get" class="btn-group">
              {% csrf_token %}
              <button>Delete</button>
          </form>
      </div>
{% endblock %}