{% extends 'base.html' %}
{% block content %}
    <div class="heading2">User profile</div>
    <div class="buttons-panel">
        <form action="/forum/edit_profile/{{user.id}}/" method="get" class="btn-group">
            {% csrf_token %}
            <button type="submit">Edit profile</button>
        </form>
    <form action="/forum/change_password/" method="get" class="btn-group">
        {% csrf_token %}
        <button type="submit">Change password</button>
    </form>
    </div>
    <div class="panel">
        <div class="user-profile">
    <div class="login">username: {{user.username}}</div>
    <div class="login">email: {{user.email}}</div>
    {% if user.first_name %}
    <div class="login">first name: {{user.first_name}}</div>
    {% endif %}
    {% if user.last_name %}
    <div class="login">last name: {{user.last_name}}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}