{% extends 'base.html' %}
{% block content %}
    <div class="heading2">User profile</div>
    <div class="buttons-panel">
        <form action="/forum/edit_profile/{{user.id}}/" method="get" class="btn-group">
            {% csrf_token %}
            <button type="submit">Edit profile</button>
        </form>
    <form action="/forum/change_password/" method="get" class="btn-group">
        {% csrf_token %}
        <button type="submit">Change password</button>
    </form>
    </div>
    <div class="panel">
    <p>username: {{user.username}}</p>
    <p>email: {{user.email}}</p>
    {% if user.first_name %}
    <p>first name: {{user.first_name}}</p>
    {% endif %}
    {% if user.last_name %}
    <p>last name: {{user.last_name}}</p>
        </div>
    {% endif %}
{% endblock %}