{% extends 'base.html' %}
{% block content %}
    <h1>User profile</h1>
    <form action="/forum/edit_profile/{{user.id}}/" method="get">
        {% csrf_token %}
        <input type="submit" value="Edit profile"/>
    </form>
    <form action="/forum/change_password/" method="get">
        {% csrf_token %}
        <input type="submit" value="Change password"/>
    </form>
    <p>username: {{user.username}}</p>
    <p>email: {{user.email}}</p>
    {% if user.first_name %}
    <p>first name: {{user.first_name}}</p>
    {% endif %}
    {% if user.last_name %}
    <p>last name: {{user.last_name}}</p>
    {% endif %}
{% endblock %}