{% extends 'base.html' %}
{% block content %}
    <div class="heading2">Change password</div>
    <div class="buttons-panel">
    <form action="/forum/user_profile/{{user.id}}/" class="btn-group">
        <button type="submit">Profile</button>
    </form>
    </div>
<form method="post">
  {% csrf_token %}
  <div class="login">old password:</div>
    <div class="login">{{form.old_password}}</div>
    <div class="login">new password:</div>
    <div class="login">{{form.new_password1}}</div>
    <div class="login">password confirmation:</div>
    <div class="login">{{form.new_password2}}</div>
  <button type="submit" class="login">Save changes</button>
</form>
{% endblock %}