{% extends 'base.html' %}
{% block content %}
    <div class="heading2">Register</div>
    <form method="post">
        {% csrf_token %}
        <div class="login">username:</div>
        <div class="login">{{form.username}}</div>
        {{form.errors.username}}
        <div class="login">first name:</div>
        <div class="login">{{form.first_name}}</div>
        <div class="login">last name:</div>
        <div class="login">{{form.last_name}}</div>
        <div class="login">email:</div>
        <div class="login">{{form.email}}</div>
        {{form.errors.email}}
        <div class="login">password:</div>
        <div class="login">{{form.password1}}</div>
        {{form.errors.password1}}
        <div class="login">password confirmation:</div>
        <div class="login">{{form.password2}}</div>
        {{form.errors.password2}}
        <div class="login">
        <form action="/forum">
            <button type="submit">Register</button>
        </form>
        </div>
    </form>
{% endblock %}